@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --mainColor: #2160e9;
    --minorColor: rgb(75, 136, 241);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: aliceblue;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    border-bottom: 2px black solid;
}

.navTitle {
    font-size: 28px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    color: black;
    padding-right: 20px;
    border-right: 3px black solid;
    border-radius: 10%;
    margin-right: 10px;
}

.navbar a {
    position: relative;
    font-size: 22px;
    color: white;
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

.navbar a {
    position: relative;
    font-size: 22px;
    color: white;
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

.navbar a.inpage {
    text-decoration: underline;
}

.navbar a:not(:last-child) {
    border-right: 2px black solid;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 10px;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: calc(100% - 20px);
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image {
    display: block;
    width: 100%;
    height: 950px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: black;
}

.overlay-text {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: black 0 0 5px;
    text-align: center;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        left: -50%;
    }

    30% {
        left: 50%;
    }

    70% {
        left: 50%;
    }

    100% {
        left: 150%
    }
}

.ovt-top {
    font-size: 124px;
}

.ovt-bot {
    font-size: 46px;
}

.content h1 {
    text-align: center;
    font-size: 60px;
    margin: 20px 0px;
}

.content h2 {
    margin-top: 15px;
}

.content {
    padding: 0 18%;
}

.content p {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
}

strong {
    color: var(--mainColor);
}

mark {
    background-color: var(--minorColor);
    border-radius: 5px;
    padding: 0 3px;
}

#figImage {
    visibility: visible;
}

figure .img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}


figure figcaption {
    text-align: center;
}


#news .articles {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
}

#news .articles article {
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    margin: 20px 15px;
    min-height: 330px;
    max-height: 330px;

}


.card-img img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    transition: 0.5s ease;
}

.card-img img:hover {
    opacity: 0.75;
}


.card-body {
    margin: 0 10px;
    padding: 10px 15px 15px 15px;
}

.card-message {
    overflow: hidden;
    display: -webkit-box;
    /* display 3 lines only */
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}


.card-body a {
    text-decoration: none;
    color: black;

    overflow: hidden;
    display: -webkit-box;
    /* display 1 line only */
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-body a:hover {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

.card-body h3 {
    font-size: 20px;


}

.firstSection {
    padding-top: 80px;
}

footer {
    background-image: url('imgs/imgPattern.jpg');
    background-color: #303030;
    margin-top: 50px;
    width: 100%;
    height: 100px;
}

.container-footer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;

}

.footerLogo {

    padding-right: 25px;
    border-right: 3px solid white;
    border-radius: 10%;
}

.footerLogo a {
    color: white;
    text-decoration: none;
}

.flex-footer {
    display: flex;
    height: 100%;
    align-items: center;
}

.flex-footer a {
    margin: 0 20px;
    text-decoration: none;
    filter: grayscale(50%);
    transition: 0.6s ease;
}

.flex-footer a:hover {
    filter: grayscale(0%);
}

.flex-footer img {
    width: 52px;

    transition: 0.6s ease;

}

.flex-footer img:hover {
    filter: drop-shadow(0px 0px 5px #dadada);
}


.toTop {
    font-size: 20px;
    color: white;
}

.toTop:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
    color: white;
}



.table {
    border-collapse: collapse;
    width: 100%;

}

.table tr>th {
    text-align: center;
}

.table td {
    border: 1px solid gray;
    padding: 8px;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--mainColor);
    color: white;
}

ul,
ol {
    list-style-position: inside;
}

.w20 {
    width: 20%;
}

.listaccessories li>ol {
    padding-left: 20px;
}

.listaccessories>li {
    font-size: 24px;
    margin-top: 5px;
}

#sectionAccessories img {
    float: right;
    width: 200px;
}

#sectionAccessories ul {
    list-style-image: url("imgs/iconarrow.png");
    list-style-position: inside;
}

#sectionAccessories li>ol {
    list-style-image: none;
    font-size: 18px;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-size: 20px;
    background-color: var(--mainColor);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    clear: both;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s ease;
}

input[type=submit]:hover {
    background-color: var(--minorColor);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
}

textarea {
    resize: vertical;
}

@media screen and (max-width: 1200px) {
    #news .articles {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 800px) {
    #news .articles {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 530px) {
    .ovt-top {
        font-size: 84px;
    }

    .ovt-bot {
        font-size: 23px;
    }

    .header {
        padding: 15px 30px;
    }

    .flex-footer a {
        margin: 0 5px;
    }

    .flex-footer img {
        width: 42px;
    }

    .footerLogo {

        padding-right: 8px;
    }

}
